<template lang="pug">
  div
    el-table(ref="dataTable"
      :data="collection")
      el-table-column(property="id"
        label="ID")
      el-table-column(property="title"
        label="Name")
      el-table-column
        template(slot-scope="scope")
          el-button(size="mini"
            type="danger"
            @click.native.prevent="toFavorites(scope)"
            plain)
            .el-icon-circle-close
</template>

<script src="./"></script>
