#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .vertical-menu {
    border-right: 0;

    &:not(.el-menu--collapse) {
      width: 15vw;
    }

    .el-menu-item {

      &.is-active {
        background: {
          color: silver;
        }

        a,
        i {
          color: black;
        }
      }
    }
  }

  .el-main {
    min-height: 90vh;
  }
}
