<template lang="pug">
  el-container#app
    el-menu.vertical-menu(:default-active="this.$route.path"
      :router="true"
      :collapse="isCollapse")
      el-menu-item(index="/")
        i.el-icon-house
        span(slot="title") Home
      el-menu-item(index="/history")
        i.el-icon-timer
        span(slot="title") History
    el-main
      router-view
</template>
<script src="./"></script>
<style src="./index.scss" lang="scss" scoped></style>
