#app {
  .content {
    .el-card {
      min-height: 85vh;

      &.nobody {
       min-height: auto;

        .el-card__body {
          display: none;
        }
      }

      &__header {
        padding: 10px 20px;
        min-height: 50px;
      }

      .el-pagination {
        margin: {
          top: 20px;
        }
      }

      &.search-result {

      }

    }
  }
}

@media screen and (max-width: 992px) {
  #app {
    .content {
      .el-card {
        min-height: 45vh;

        &__header {
          height: 60px;
        }
      }
    }
  }
}
