<template lang="pug">
  .content
    el-row
      el-col.grid-content(:span="24")
        el-card
          div(slot="header") {{ user.name }}
          div {{ user }}
</template>

<script src="./"></script>
