<template lang="pug">
  .content
    el-row
      el-col(:span="24")
        el-card.nobody
          div(slot="header")
            el-col(:span="24")
              el-input.search(placeholder="Search..."
                size="mini"
                ref="search"
                clearable
                @input="toSearch($event)"
                v-model="searchString")
    el-row(v-if="!isSearchString")
      el-col.grid-content(:lg="16" :md="14" :sm="12" :xs="24")
        el-card.left-card
          div(slot="header") Catalog
          el-table(ref="tableData"
            :data="collection")
            el-table-column(property="data.id"
              label="ID"
              fixed
              width="60")
            el-table-column(type="expand")
              template(slot-scope="second")
                p(v-for="picture in second.row.pictures") {{ picture.title }}
            el-table-column(
              property="user.name"
              label="User"
              fixed
              width="200")
              template(slot-scope="scope")
                router-link(:to="'/user/' + scope.row.user.id") {{ scope.row.user.name }}
            el-table-column(property="data.title"
              label="Title")
            el-table-column(label="Operations"
              fixed="right"
              width="120")
              template(slot-scope="scope")
                el-button(size="mini"
                  type="primary"
                  @click.native.prevent="toFavorites(scope)"
                  plain)
                  .el-icon-star-off
          el-pagination(layout="prev, pager, next"
            :background="true"
            :page-size="pageSize"
            :total="count"
            @current-change="toChange($event)")
      el-col.grid-content(:lg="8" :md="12" :sm="12" :xs="24")
        el-card.right-card
          div(slot="header")
            span Favorites
          favorites(v-if="isFavorites" :current="current" @reload="getAlbums(current)")
    el-row(v-else)
      el-col.grid-content(:span="24")
        el-table(ref="tableSearch"
          :data="collection"
          default-expand-all)
          el-table-column(property="id"
            label="ID"
            width="60")
          el-table-column(property="title"
            label="Title")
          el-table-column(type="expand")
            template(slot-scope="scope")
              p(v-for="picture in scope.row.pictures") {{ picture.title }}
</template>
<script src="./"></script>
<style src="./index.scss" lang="scss" scoped></style>
