<template lang="pug">
  .content
    el-row
      el-col.grid-content(:span="24")
        el-card
          div(slot="header") History
          el-table(v-if="isHistory" ref="dataTable"
            :data="collection"
            heighlight-current-row)
            el-table-column(property="date"
              label="Date")
            el-table-column(property="operationType"
              label="Operation")
              template(slot-scope="scope")
                el-tag(v-if="scope.row.operationType === 0"
                  type="success"
                  size="mini") Adding
                el-tag(v-else
                  type="danger"
                  size="mini") Deletion
            el-table-column(property="model.title"
              label="Name")
          el-pagination(v-if="isHistory"
            layout="prev, pager, next"
            :background="true"
            :total="count"
            @current-change="toChange($event)")
</template>
<script src="./"></script>
<style src="./index.scss" lang="scss" scoped></style>
